In [1]:
# NYPD Preparation and Exploration

## Preparation
# 1 - remove columns not relevant to exercise
# 2 - Remove all data outside of range 2015-01-01 to 2019-12-31
# 3 - Remove rows with NaN, (null), UNKNOWN values
# 4 - map values like hour, severity score, offense super categories

# Output: ../data/NYPD_Complaint_Data_Historic_Cleaned_Reduced.csv

##Â Exploration

In [2]:
# check for required file

import os
from pathlib import Path

FILE_PATH = '../data/NYPD_Complaint_Data_Historic.csv'

file_path = Path(FILE_PATH)

# Check if the file exists
if file_path.exists():
    print(f"File found: {file_path}")
else:
    print(f"File not found: {file_path}. Please ensure the file is downloaded correctly.")

File found: ../data/NYPD_Complaint_Data_Historic.csv

In [3]:
# Load the dataset
import pandas as pd
import numpy as np

initial_df = pd.read_csv(FILE_PATH)

initial_df.info()

/var/folders/7b/c18lkd_95v345lvvmts66_k40000gn/T/ipykernel_86313/1355347080.py:5: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  initial_df = pd.read_csv(FILE_PATH)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8914838 entries, 0 to 8914837
Data columns (total 35 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         object
 1   CMPLNT_FR_DT       object
 2   CMPLNT_FR_TM       object
 3   CMPLNT_TO_DT       object
 4   CMPLNT_TO_TM       object
 5   ADDR_PCT_CD        float64
 6   RPT_DT             object
 7   KY_CD              int64
 8   OFNS_DESC          object
 9   PD_CD              float64
 10  PD_DESC            object
 11  CRM_ATPT_CPTD_CD   object
 12  LAW_CAT_CD         object
 13  BORO_NM            object
 14  LOC_OF_OCCUR_DESC  object
 15  PREM_TYP_DESC      object
 16  JURIS_DESC         object
 17  JURISDICTION_CODE  int64
 18  PARKS_NM           object
 19  HADEVELOPT         object
 20  HOUSING_PSA        object
 21  X_COORD_CD         float64
 22  Y_COORD_CD         float64
 23  SUSP_AGE_GROUP     object
 24  SUSP_RACE          object
 25  SUSP_SEX           object
 26  TRANSIT_DISTRICT   float64
 27  Latitude           float64
 28  Longitude          float64
 29  Lat_Lon            object
 30  PATROL_BORO        object
 31  STATION_NAME       object
 32  VIC_AGE_GROUP      object
 33  VIC_RACE           object
 34  VIC_SEX            object
dtypes: float64(7), int64(2), object(26)
memory usage: 2.3+ GB

In [4]:
# Columns to drop
columns_to_drop = ['LAW_CAT_CD', 'CMPLNT_NUM', 'CMPLNT_TO_DT', 'CMPLNT_TO_TM', 'PD_CD', 'PD_DESC', 'CRM_ATPT_CPTD_CD', 
                   'JURIS_DESC', 'JURISDICTION_CODE', 'PARKS_NM', 'HADEVELOPT', 'HOUSING_PSA', 'LOC_OF_OCCUR_DESC', 
                   'RPT_DT', 'X_COORD_CD', 'Y_COORD_CD', 'TRANSIT_DISTRICT', 'Lat_Lon', 'KY_CD', 'ADDR_PCT_CD', 'STATION_NAME',
                   'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX', 'PATROL_BORO']

# Drop the columns
initial_df = initial_df.drop(columns=columns_to_drop)
initial_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8914838 entries, 0 to 8914837
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   CMPLNT_FR_DT   object
 1   CMPLNT_FR_TM   object
 2   OFNS_DESC      object
 3   BORO_NM        object
 4   PREM_TYP_DESC  object
 5   Latitude       float64
 6   Longitude      float64
 7   VIC_AGE_GROUP  object
 8   VIC_RACE       object
 9   VIC_SEX        object
dtypes: float64(2), object(8)
memory usage: 680.1+ MB

In [5]:
initial_df.head()

,CMPLNT_FR_DT,CMPLNT_FR_TM,OFNS_DESC,BORO_NM,PREM_TYP_DESC,Latitude,Longitude,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,12/05/2006,10:38:00,MURDER & NON-NEGL. MANSLAUGHTER,QUEENS,(null),NaN,NaN,25-44,WHITE HISPANIC,M
1,08/25/1973,12:15:00,MURDER & NON-NEGL. MANSLAUGHTER,MANHATTAN,MULTI DWELL - APT BUILD,NaN,NaN,45-64,BLACK,F
2,04/22/2006,16:50:00,MURDER & NON-NEGL. MANSLAUGHTER,BROOKLYN,(null),NaN,NaN,45-64,BLACK,M
3,07/20/2006,22:37:00,MURDER & NON-NEGL. MANSLAUGHTER,BROOKLYN,(null),NaN,NaN,18-24,BLACK,M
4,04/14/2006,02:37:00,MURDER & NON-NEGL. MANSLAUGHTER,BROOKLYN,(null),NaN,NaN,45-64,BLACK,M

In [6]:
# Remove older data
# range 2015-01-01 to 2019-12-31 is non pandemic years
# Alignment with Other Datasets

initial_df['CMPLNT_FR_DT'] = pd.to_datetime(initial_df['CMPLNT_FR_DT'], errors='coerce')

# Filter out records outside the range 2015-01-01 to 2019-12-31
initial_df = initial_df[
    (initial_df['CMPLNT_FR_DT'] >= pd.Timestamp('2015-01-01')) &
    (initial_df['CMPLNT_FR_DT'] <= pd.Timestamp('2019-12-31'))
]

print(f"Filtered data size for records between 2015 and 2019: {initial_df.shape[0]}")



initial_df = initial_df.drop(columns=['CMPLNT_FR_DT'])

initial_df.head()

Filtered data size for records between 2015 and 2019: 2348043

,CMPLNT_FR_TM,OFNS_DESC,BORO_NM,PREM_TYP_DESC,Latitude,Longitude,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
95,17:50:00,ROBBERY,MANHATTAN,BANK,40.762602,-73.985875,(null),UNKNOWN,D
96,19:20:00,ROBBERY,BROOKLYN,STREET,40.701593,-73.948747,<18,WHITE,M
97,23:00:00,RAPE,MANHATTAN,STREET,40.737203,-73.983273,<18,BLACK,F
98,14:40:00,GAMBLING,BRONX,STREET,40.831107,-73.930410,(null),UNKNOWN,E
99,23:00:00,RAPE,BRONX,HOSPITAL,40.810352,-73.924942,<18,BLACK,F

In [7]:
# Replace '(null)' with NaN
initial_df.replace('(null)', np.nan, inplace=True)

# Replace 'UNKNOWN' with NaN
initial_df.replace('UNKNOWN', np.nan, inplace=True)

# Count the number of NaN values per column
nan_counts = initial_df.isna().sum()

# Print the NaN counts
print(nan_counts)

initial_df = initial_df.dropna()

# Count the number of NaN values per column
nan_counts = initial_df.isna().sum()

# Print the NaN counts
print(nan_counts)

CMPLNT_FR_TM          0
OFNS_DESC          1277
BORO_NM              27
PREM_TYP_DESC       861
Latitude              1
Longitude             1
VIC_AGE_GROUP    691753
VIC_RACE         735567
VIC_SEX               6
dtype: int64
CMPLNT_FR_TM     0
OFNS_DESC        0
BORO_NM          0
PREM_TYP_DESC    0
Latitude         0
Longitude        0
VIC_AGE_GROUP    0
VIC_RACE         0
VIC_SEX          0
dtype: int64

In [8]:
print(f"Cleaned data size: {initial_df.shape}")

Cleaned data size: (1588789, 9)

In [9]:
# Extract the hour from the time column using .loc to avoid the warning
initial_df.loc[:, 'Hour'] = initial_df['CMPLNT_FR_TM'].str.split(':').str[0].astype(float)
initial_df = initial_df.drop(columns=['CMPLNT_FR_TM'])

#Â Map Severity Score
# Map Crimes to a severity
# Read the CSV file into a DataFrame
severity_df = pd.read_csv('../mappings/offense_severity_scores.csv')

severity_dict = severity_df.set_index('Offense')['Severity_Score'].to_dict()
initial_df['OFNS_DESC_Severity_Score'] = initial_df['OFNS_DESC'].map(severity_dict)

# Print the updated DataFrame to verify
initial_df.head()

,OFNS_DESC,BORO_NM,PREM_TYP_DESC,Latitude,Longitude,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,Hour,OFNS_DESC_Severity_Score
96,ROBBERY,BROOKLYN,STREET,40.701593,-73.948747,<18,WHITE,M,19.0,8
97,RAPE,MANHATTAN,STREET,40.737203,-73.983273,<18,BLACK,F,23.0,10
99,RAPE,BRONX,HOSPITAL,40.810352,-73.924942,<18,BLACK,F,23.0,10
100,FELONY ASSAULT,QUEENS,OTHER,40.593680,-73.790074,25-44,WHITE,F,12.0,9
101,ROBBERY,BRONX,STREET,40.859853,-73.894368,<18,BLACK HISPANIC,M,20.0,8

In [10]:
crime_categories = {
    "Violent Crimes": [
        "FELONY ASSAULT", "ROBBERY", "RAPE", "HOMICIDE-NEGLIGENT, UNCLASSIFIED", 
        "MURDER & NON-NEGL. MANSLAUGHTER", "HOMICIDE-NEGLIGENT-VEHICLE", "SEX CRIMES", 
        "ASSAULT 3 & RELATED OFFENSES", "KIDNAPPING & RELATED OFFENSES", "KIDNAPPING", 
        "KIDNAPPING AND RELATED OFFENSES"
    ],
    "Theft and Larceny": [
        "GRAND LARCENY", "PETIT LARCENY", "THEFT-FRAUD", "GRAND LARCENY OF MOTOR VEHICLE", 
        "PETIT LARCENY OF MOTOR VEHICLE", "THEFT OF SERVICES", "OFFENSES INVOLVING FRAUD"
    ],
    "Property Crimes": [
        "BURGLARY", "ARSON", "CRIMINAL MISCHIEF & RELATED OFFENSES", "POSSESSION OF STOLEN PROPERTY", 
        "MISCELLANEOUS PENAL LAW", "CRIMINAL TRESPASS", "UNAUTHORIZED USE OF A VEHICLE"
    ],
    "Drug and Alcohol-Related Offenses": [
        "INTOXICATED & IMPAIRED DRIVING", "INTOXICATED/IMPAIRED DRIVING", "DANGEROUS DRUGS", 
        "UNDER THE INFLUENCE OF DRUGS", "LOITERING FOR DRUG PURPOSES"
    ],
    "Public Order and Administrative Offenses": [
        "DISORDERLY CONDUCT", "LOITERING", "LOITERING/GAMBLING (CARDS, DICE)", 
        "OFFENSES AGAINST PUBLIC ADMINISTRATION", "ADMINISTRATIVE CODE", "ADMINISTRATIVE CODES", 
        "NEW YORK CITY HEALTH CODE", "AGRICULTURE & MKTS LAW-UNCLASSIFIED", "OTHER STATE LAWS", 
        "OTHER STATE LAWS (NON PENAL LAW)"
    ],
    "Fraud and Financial Crimes": [
        "FORGERY", "FRAUDS", "FRAUDULENT ACCOSTING", "ANTICIPATORY OFFENSES"
    ],
    "Weapons and Dangerous Offenses": [
        "DANGEROUS WEAPONS", "UNLAWFUL POSS. WEAP. ON SCHOOL"
    ],
    "Family and Personal Offenses": [
        "OFFENSES AGAINST THE PERSON", "OFFENSES AGAINST MARRIAGE UNCL", 
        "OFFENSES RELATED TO CHILDREN", "CHILD ABANDONMENT/NON SUPPORT"
    ],
    "Negligence and Careless Acts": [
        "ENDAN WELFARE INCOMP", "DISRUPTION OF A RELIGIOUS SERVICE"
    ],
    "Miscellaneous and Specific Offenses": [
        "GAMBLING", "FORTUNE TELLING", "ALCOHOLIC BEVERAGE CONTROL LAW", "JOSTLING", 
        "OTHER OFFENSES RELATED TO THEFT", "OFFENSES AGAINST PUBLIC SAFETY", 
        "OTHER TRAFFIC INFRACTION", "NYS LAWS-UNCLASSIFIED VIOLATION", 
        "NYS LAWS-UNCLASSIFIED FELONY", "ABORTION", "FELONY SEX CRIMES", 
        "CANNABIS RELATED OFFENSES", "HARRASSMENT 2"
    ]
}


import pandas as pd


# Function to categorize each offense
def categorize_crime(offense):
    for category, crimes in crime_categories.items():
        if offense in crimes:
            return category
    return "Other"  # for crimes not listed in the dictionary

# Apply the categorization to the 'OFNS_DESC' column
initial_df['Crime_Category'] = initial_df['OFNS_DESC'].apply(categorize_crime)

# Check the first few rows to verify the new column
initial_df.head()

,OFNS_DESC,BORO_NM,PREM_TYP_DESC,Latitude,Longitude,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,Hour,OFNS_DESC_Severity_Score,Crime_Category
96,ROBBERY,BROOKLYN,STREET,40.701593,-73.948747,<18,WHITE,M,19.0,8,Violent Crimes
97,RAPE,MANHATTAN,STREET,40.737203,-73.983273,<18,BLACK,F,23.0,10,Violent Crimes
99,RAPE,BRONX,HOSPITAL,40.810352,-73.924942,<18,BLACK,F,23.0,10,Violent Crimes
100,FELONY ASSAULT,QUEENS,OTHER,40.593680,-73.790074,25-44,WHITE,F,12.0,9,Violent Crimes
101,ROBBERY,BRONX,STREET,40.859853,-73.894368,<18,BLACK HISPANIC,M,20.0,8,Violent Crimes

In [11]:
# Count the number of NaN values per column
nan_counts = initial_df.isna().sum()

# Print the NaN counts
print(nan_counts)

OFNS_DESC                   0
BORO_NM                     0
PREM_TYP_DESC               0
Latitude                    0
Longitude                   0
VIC_AGE_GROUP               0
VIC_RACE                    0
VIC_SEX                     0
Hour                        0
OFNS_DESC_Severity_Score    0
Crime_Category              0
dtype: int64

In [12]:
import pandas as pd
from pathlib import Path

file_path = '../data/NYPD_Complaint_Data_Historic_Cleaned_Reduced_Mapped.csv'

initial_df.to_csv(file_path, index=False)
print(f"Data saved to {file_path}")

Data saved to ../data/NYPD_Complaint_Data_Historic_Cleaned_Reduced_Mapped.csv

In [13]:
# Store data to MongoDB for later merging with Property Data
from pymongo import MongoClient

MONGO_URI = 'mongodb://localhost:27017/'
DB_NAME = 'crime_database'
COLLECTION_NAME = 'crime_data'

def populate_db():

    # Combine LATITUDE and LONGITUDE into GeoJSON format
    initial_df['location'] = initial_df.apply(lambda row: {'type': 'Point', 'coordinates': [row['Longitude'], row['Latitude']]}, axis=1)

    # Convert the DataFrame to a dictionary format
    data = initial_df.to_dict(orient='records')

    # Establish a connection to MongoDB
    client = MongoClient(MONGO_URI)

    # Specify the database and collection
    db = client[DB_NAME]
    collection = db[COLLECTION_NAME]

    # Drop the collection if it exists to start fresh
    collection.drop()

    # Insert the data into the collection
    collection.insert_many(data)

    # Create a geospatial index on the location field
    collection.create_index([('location', '2dsphere')])

    print("Data has been successfully inserted into MongoDB with geospatial indexing.")

populate_db()

Data has been successfully inserted into MongoDB with geospatial indexing.